{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Website about learning Python. Reviews of books, exercises and tutorials">
    <meta name="viewport" content="width=device, initial-scale=1">
    <meta name="keywords" content="coding, tutorials, python, books, exercises">
    <meta name="author" content="Jacek Kawalec">
    <title>Learn Python Programming</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href={%  url 'home_index' %}>Home</a>
    <a href={%  url 'exercises_index' %}>Exercises</a>
    <a href={%  url 'books_index' %}>Books</a>
    <a href={%  url 'tutorials_index' %}>Tutorials</a>
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>

        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    {%  block content %}

    {%  endblock content %}
</body>
</html>