{% extends "base.html" %}
{% block content %}
    <h1>Welcome to Learn Python Programming</h1>
    <p>If you want to progress in learning faster.
        If you want your time spent on learning to be more effective
        You are in right place</p>
    <p> MAny people have problems in selecting right materials for learning
    programming, dont know exactly where to go. Waste much time on bad quality
    or inapropriate skill level exercises.
    Thanks to This Website You will be able to read the revisions of
    materials and choose which are most suitable for You</p>
    <p> You will save vast ammounts of time thanks to not spending
    hours in to materials which are to hard, to easy, low quality or jus
    inapropriate for You. You will also be able to choose from the best materials</p>
    <p>Go Ahead Sign UP</p>
{% endblock %}