{% extends 'base.html' %}

{%  block content %}
    <h1>{{ object.name }}</h1>
    <h3>Page</h3>
    <p><a href={{ object.author }}>{{ object.author }}</a></p>
    <h3>Review</h3>
    <p>{{ object.description }}</p>
    <h3>Quality</h3>
    <p>{{ object.quality }}</p>
    <h3>Difficulty</h3>
    <p>{{ object.difficulty }}</p>
    <h3>Skill level</h3>
    <p>{{ object.skill_level }}</p>
    <hr>
    {% for comment in tutorialsreview.comments.all %}
    <div>
        <p>{{ comment.commenter }}</p>
        <p>{{ comment.date}}</p>
        <p>{{ comment.comment }}</p>
    </div>
    {% empty %}
        <p>No comments here yet</p>
    {% endfor %}
{%  endblock content %}